pyinstaller==3.6

aiohttp==2.3.10
async-timeout==3.0.0
braintech-drivers-native-amplifier-lib==2.8.0.post38+gb714b77
braintech-drivers-perun8==2.8.0.post38+gb714b77
braintech-obci-core==2.8.0+21.ga030cb6
braintech-obci-experiment==2.8.0+21.ga030cb6
braintech-obci-signal-processing==2.8.0+21.ga030cb6
braintech-utils==2.8.0+21.ga030cb6
obci-demo==2.8.0+21.ga030cb6
obci-p300==2.8.0+21.ga030cb6
obci-ugm==2.8.0+21.ga030cb6
bci-panel==2.8.0+21.ga030cb6
chardet==3.0.4
coloredlogs==10.0
cycler==0.10.0
decorator==4.2.1
humanfriendly==8.2
idna==2.7
idna-ssl==1.0.1
janus==0.3.0
joblib==0.16.0
libusb1==1.8
matplotlib==2.0.2
mne==0.17.0
multidict==4.3.1
netifaces==0.10.4
networkx==2.1
numpy==1.16.1
Pillow==5.1.0
psutil==5.2.2
pygame==1.9.3
pylsl==1.10.6
pyparsing==2.2.0
pyserial==3.4
PySide2==5.12.0
python-dateutil==2.7.2
python-engineio==2.1.1
python-socketio==1.9.0
pytz==2018.4
PyWavelets==0.5.2
pyzmq==17.1.2
raven==6.1.0
certifi==2018.1.18
sentry-sdk==0.16.3
urllib3==1.22
scikit-image==0.13.1
scikit-learn==0.21.3
scipy==1.2.1
shiboken2==5.12.0
six==1.11.0
yarl==1.2.4