*.DS_Store
jre.zip
svarog_streamer/svarog
venv
.idea
apps/build
apps/dist
__pycache__
dist
svarog.zip
Svarog_Streamer*.exe
resources/svarog_exe/jdk/
resources/svarog_exe/launch4j.log
resources/svarog_exe/svarog/
*.pyc
.eggs
svarog_streamer.egg-info/
version.txt